body {
	
	--scrollbar_height: 4px;
	--scrollbar_width: 16px;
	--button_size: 22px;
	
	--pin_width: 24px;
	--pin_height: 24px;

	--tab_height: 20px;
	--tab_height_line: 22px;
	
	--title_font_size: 12px;

	--tab_title_text_padding_left: 26px;
	--tab_title_text_padding_exp_left: 35px;
	--tab_title_text_padding_right_with_close_button: 19px;

	--favicon_width: 16px;
	--favicon_height: 16px;
	--favicon_left: 2px;

	--expand_height: 19px;
	--expand_width: 36px;

	--expand_mask_top: 7px;
	--expand_mask_left: 24px;
	--expand_mask_height: 6px;
	--expand_mask_width: 6px;

	--drag_area_top: 7px;
	--drag_area_bottom: 5px;

	--children_padding_left: 5px;
	--close_top: 2px;
	--close_right: 2px;
	--close_height: 13px;
	--close_width: 13px;
	
	--tab_mediaicon_height: 10px;
	--tab_mediaicon_width: 10px;
}