body {
	/* vertical */
	--margin_top_first_tab: 1px;
	--margin_top_tab: 0px;
	
	/* drag_bottom vertical */
	--tab_drag_entered_bottom: 0px;

	/* drag_top vertical */
	--tab_drag_entered_top: -1px;

	/* horizontal */
	--tab_header_left: 1px;
	--tab_header_width: calc(100% - 4px);

	/* drag_enter horizontal */
	--tab_drag_enter_center_left: 1px;
	--tab_drag_enter_center_width: calc(100% - 4px);

	/* drag_top_bottom left */
	--tab_drag_entered_left: 1px;
	--tab_drag_entered_tb_width: calc(100% - 2px);

	--pin_list_padding_top: 1px;
	--pin_list_padding_bottom: 1px;
	--pin_list_padding_left: 1px;
	
	--pin_margin_left: 0px;
	--pin_last_margin_right: 2px;
	--pin_margin_bottom: 0px;
	
	
	--pin_drag_entered_top_left: -1px;
	--pin_drag_entered_bottom_right: calc(50% - 2px);
}